*{
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
  #navbar{
    position: fixed;
    width: 25%;
    height: 100%;
    box-shadow: 0.1em 0em 0.3em 0.01em rgb(214, 214, 214);  
    border-radius: 0.5em;
  }
  a{
    display: block;
    border-bottom: solid 0.01em black;
  }
  #navbar header{
    border-bottom: solid 0.01em black;
  }
  #main-doc{
    width: 75%;
    margin-left: 26%;
  }
  .main-section{
    border-bottom: solid 0.01em black;
    padding: 0.5em;
    
  }
  code{
    background-color: rgb(232, 232, 232);
    /*border: solid 0.01em rgba(0, 0, 0, 0.379);*/
    display: inline-block;
    margin: 1em;
    padding: 1em;
    box-shadow: 0.1em 0.25em 0.5em  rgb(214, 214, 214);  ;
    border-radius: 0.5em;
  }
  code p{
    margin: 0;
  }
  .first-indent{
    text-indent: 1em;
  }
  .second-indent{
    text-indent: 2em;
  }
  .main-section.intro{
    background-color: #E5D2F0;
  }
  h2{
    margin-top: 0;
  }
  