*{
    box-sizing: border-box;
  }
  body{
    display: flex;
    margin: 0;
  }
  #navbar{
    position: relative;
    width: 30%;
    padding: 0.5em;
    border-right: solid 0.01em black;
  }
  a{
    display: block;
  }
  #main-doc{
    margin: 1em auto 0em auto;
  }
  .main-section{
    border-bottom: solid 0.01em black;
  }