*{
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  #navbar{
    position: fixed;
    width: 25%;
    height: 100%;
    border-right: solid 0.01em black;
  }
  a{
    display: block;
    border-bottom: solid 0.01em black;
  }
  #navbar header{
    border-bottom: solid 0.01em black;
  }
  #main-doc{
    width: 75%;
    margin-left: 25%;
  }
  .main-section{
    border-bottom: solid 0.01em black;
    
  }
  code{
    background-color: rgb(232, 232, 232);
    border: solid 0.01em rgba(0, 0, 0, 0.379);
    display: inline-block;
    margin: 1em;
  }
  code p{
    margin: 0;
  }
  .first-indent{
    text-indent: 1em;
  }
  .second-indent{
    text-indent: 2em;
  }
  